.width-fill-parent {
    width: 100%;
}

.disable-mouse-interaction {
    pointer-events: none;
    opacity: 0.4;

    transition: .3s;
}
.re-enable-mouse-interaction {
    pointer-events: initial;
    opacity: initial;

    transition: .3s;
}


._disable-mouse-interaction {
    pointer-events: none;

}

.x-scroll-them{
    overflow-x: auto;

}